/* eslint-disable */
.body {
    overflow: hidden;
}
.section{
    &_hero{
        /*background-color: #005CB4;
        box-shadow: 0px 4px 4px 0px #00000040;*/
        .container{
            display: flex;
            max-width:100%;
            .left{
                font-weight: 700;
                font-family: 'Futura';
                color: white;
                margin:auto;
                margin-top:25vw;
                margin-bottom:21.5vw;
                @include rem(font-size, 100px);
                //@include rem(margin-top, 319px);
                //@include rem(margin-top, 500px);
                //@include rem(margin-bottom, 350px);
                @include rem(line-height, 132.9px);
            }
            .right{
                @include rem(margin-top, 228px);
                img{
                    @include rem(max-width, 776px);
                }
            }
        }
        .desktop_img {
            position:absolute;
            z-index:-1;
        }
        .mobile_img {
            position:absolute;
            z-index:-1;
            display:none;
        }
    }
    &_date{
        .container{
            font-family: 'Futura Bk';
        font-weight: 500; 
        color: #004B93;
        @include rem(font-size, 36px);
        @include rem(line-height, 47px);
        text-align: center;
        display: flex;
        flex-direction: column;
        @include rem(gap, 54px);
        align-items: center;
        @include rem(padding, 204px 0);
        p{
            @include rem(max-width, 731px);
        }
        }
    }
    &_hapat{
        .container{
            font-family: 'Futura Bk';
            counter-reset: hapi;
            display: flex;
            flex-direction: column;
            @include rem(gap, 57px);
            .hapi{
                display: flex;
                color: #004B93;
                @include rem(gap, 26px);
                align-items: center;
                .hap{
                    font-weight: 500;
                    @include rem(font-size, 40px);
                }
                .count{
                    border: 2px solid #004B93;
                    @include rem(border-radius, 100px);
                    @include rem(padding, 15px 30px);
                    &::after{
                        font-family: 'Futura';
                        counter-increment: hapi;
                        content: counter(hapi);
                        @include rem(line-height, 62.46px);
                        font-weight: 700;
                        @include rem(font-size, 47px);
                    }
                }
            }
        }
    }
    &_form{
        height: 100vh;
        position: relative;
        .desktop_img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include mobile{
                display: none;
            }
        }
        .mobile_img{
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include mobile{
                display: block;
            }
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            justify-content: center;
            height: 100%;
            form{
                @include rem(padding, 60px 0);
                background-color: rgba(100,100,255,0.7);
                @include mobile{
                    padding-left: 1.25rem !important;
                    padding-right: 1.25rem !important;
                    margin: 0 10px !important;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.6875rem;
                @include rem(border-radius, 15px);
                input{width: 100% !important;}
                .usp-images{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    @include rem(gap, 15px);
                    #usp-upload-message{
                        order: 2;
                        display: flex;
                        align-items: center;
                        color: white;
                        font-size: 1.625rem !important;
                        font-family: 'Futura Bk';
                    font-weight: 600;
                    }
                }
                fieldset{
                    max-width: 35rem;
                    width: 100%;
                label{
                    display: none !important;
                }
                .containertitle{
                    label{
                        display: block !important;
                        order: 1;
                        font-family: 'Futura Bk';
                        font-weight: 600;
                        text-align: center;
                        font-size: 2rem !important;
                        width: 15.125rem !important;
                        line-height: 42px;
                        color: #8D8D8D;
                        width: 100% !important; 
                        padding: 0.625rem 0 !important;
                        background: #D9D9D9;
                        border-radius: 0.9375rem !important;
                        @include mobile{
                            font-size: 1.25 rem !important;
                        }
                    }
                    }
                }
            }
            }
            
            input[type=text]{
                border: 2px solid #005CB4;
                @include rem(border-radius, 25px);
                @include rem(font-size, 36px);
                @include rem(max-width, 560px);
                @include rem(padding, 24px 0);
                background-color: #D9D9D9;
                text-align: center;
                font-family: 'Futura Bk';
                font-weight: 600;
                @include rem(width, 560px);
                &::placeholder{
                    text-align: center;
                    color: #8D8D8D;
                    font-family: 'Futura Bk';
                    font-weight: 600;
                }
                @include mobile{
                    font-size: 1.25rem;
                    padding: 1rem;
                }
                
            }
            #usp-submit{
                width: 35rem !important;
                @include mobile{
                    width: 100% !important;
                }
                display: flex;
                justify-content: center;
            }
            .usp-submit{
                background-color: #004B93;
                color: white;
                @include rem(border-radius, 25px);
                border: none;
                @include rem(font-size, 36px);
                @include rem(line-height, 47px);
                @include rem(padding, 25px 0);
                
            }
            input[type=file]{
                display: none !important;
            }
        }
    }

